<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="Parallel(class level) Test">
        <classes>
            <class name="techproed.tests.day25_xmlfiles_paralleltesting.C01_ParallelTest"/>
            <class name="techproed.tests.day25_xmlfiles_paralleltesting.C02_ParallelTest"/>
        </classes>
    </test>
</suite>